.body {
    background: #F5F5F5;
}

.cabecalhoPrincipal {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 150px;
    left: 0px;
    top: 0px;
    background: #F9C73E;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 306px;
    left: 0px;
    top: 2203px;

    background: #F9C73E;
}

.cabecalhoPrincipal-elementos{
    list-style: none;
}

.cabecalhoPrincipal {
    display: flex;
  }
  .cabecalhoPrincipal figure {
    width: 30%;
    text-align: center;
  }

  p {
    font-size:large;
  }

 #apresentacao {
    /*display: block;
    margin-top: 300px;
    margin-left: 150px;
    font-family: Inter;
    
    font-weight: 400;
    line-height: 155px;
    letter-spacing: 0em;
    text-align: left;*/
    letter-spacing: 0em;
    font-family: sans-serif;
    font-size: 80px;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-right: 150px;
    margin-top: 300px;
}

.apresentacao {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    height: 118px;
    width: 509px;
    left: 67px;
    top: 295px;
    
}

.cabecalhoPrincipal div {
    width: 70%;
    text-align: justify;
}

#info-MarleyJB {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align:left;
    padding-right: 300px;
    padding-bottom: 80px;
}

.style-info-MarleyJB {
    height: 26px;
    width: 290px;
    left: 103px;
    top: 21px;
}

.dark-mode-icon {
    padding-left: 150px;
    padding-top: 40px;
}

.linkedin {
    padding-left: 80px;
}

.github-mark {
    padding-left: 200px;
}



.marley-photo{
    margin-top: 100px;
    margin-left: 120px;
    width:500px;
    height:400px;

}



/*#email-MarleyJB {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}

.style-email-MarleyJB {
    height: 47px;
    width: 416px;
    left: 100px;
    top: 52px;
    border-radius: nullpx;
}

#telefone-MarleyJB {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.style-telefone-MarleyJB {
    height: 47px;
    width: 416px;
    left: 104px;
    top: 99px;
    border-radius: nullpx;
}*/

.cabecalhoPrincipal .container .cabecalhoPrincipal-elementos {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}




